.header{
position: relative;
}



.logo{
    left: 250px;
    position:absolute;
    width: 100px;
    height: 100px;
}

.logo1{
    left: 550px;
    position: absolute;
    width: 100px;
    height: 100px;
}
.phone{
    position: absolute;
    right: 90px;
}


.elem{
    float:left;
    list-style: none;
    margin-right: 10px;
    color: red;
}